<br>
<button type="button" class="btn btn-success" style="margin-left: 2%;" >Back</button><br><br>
<div class="container">
    <input type="text" class="form-control"><br><br><em><p style="margin-left: 0%; margin-top: -4%;">Rechercher suivant le Noms</p></em>
    <h3>Liste des regions</h3> 
    <p>filtered by : </p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Noms</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Ouest</td>
            <td><button type="button" class="btn btn-secondary">Update</button>&nbsp; <button type="button" class="btn btn-danger">Delete</button></td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>Douala</td>
            <td><button type="button" class="btn btn-secondary">Update</button>&nbsp; <button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        </tbody>
    </table>

</div>
